@use 'foundation/settings' as *;
@use 'foundation/mixin' as *;

.flexTextarea {
    position: relative;
}

.flexTextareaDummy {
    padding: 9px 12px;
    min-height: 44px;
    max-height: 116px;
    font-size: 16px;
    line-height: 24px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    border: 1px solid;
    box-sizing: border-box;
    overflow: hidden;
    visibility: hidden;
}
