@use 'foundation/settings' as *;
@use 'foundation/mixin' as *;
@use 'sass:math';

.simpleBtn {
    display: inline-block;
    cursor: pointer;
    font-family: inherit;
    background: transparent;
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.textLink {
    color: $original-color-primary;
    text-decoration: underline;

    &.bold {
        font-weight: bold;
    }
}

.headerHome {
    display: inline-block;
    padding: 7px 12px;
    color: $original-color-primary;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    background: #fff;
    border: 1px solid $original-color-primary;
    border-radius: 14px;
    box-sizing: border-box;
}

.headerMedicationBtn {
    @include flexCenter();
    padding: 0 12px;
    height: 26px;
    color: $original-color-primary;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    background: #fff;
    border: 1px solid $original-color-primary;
    border-radius: 13px;
    box-sizing: border-box;
}

.closeDialogBtn {
    @extend .simpleBtn;
    @include flexCenterX2();
    width: 100%;
    height: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    background: $bg-dark-gray;
    border-radius: 25px;
    box-sizing: border-box;
}

.nextDialogBtn {
    @extend .simpleBtn;
    @include flexCenterX2();
    width: 100%;
    height: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    background: $original-bg-primary;
    border-radius: 25px;
    box-sizing: border-box;
}

.nextBtn {
    @include flexCenterX2();
    height: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background: $original-bg-primary;
    border-radius: 25px;
    box-sizing: border-box;

    &.disabled {
        color: #fff;
        background: $bg-dark-gray;
    }

    &.large {
        font-size: 18px;
    }

    &.medium {
        display: inline-block;
        padding: 11px 30px;
        height: 38px;
        font-size: 15px;
        border-radius: 19px;
    }
}

.pharmacyNav {
    display: inline-block;
    padding: 6px 12px;
    color: $original-color-primary;
    font-size: 12px;
    line-height: 1;
    font-weight: bold;
    white-space: nowrap;
    border-radius: 12px;
    box-sizing: border-box;

    &.disabled {
        color: $color-dark-gray;
    }

    &.active {
        color: #fff;
        background: $original-bg-primary;
    }
}

.familyNav {
    display: inline-block;
    padding: 6px 12px;
    color: $original-color-primary;
    font-size: 12px;
    line-height: 1;
    font-weight: bold;
    white-space: nowrap;
    border-radius: 12px;
    box-sizing: border-box;

    &.active {
        color: #fff;
        background: $original-bg-primary;
    }
}

.searchBtn {
    @include flexCenterX2();
    position: relative;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    background: $original-bg-primary;
    border-radius: 0px 6px 6px 0px;

    &.disabled {
        color: #fff;
        background: $bg-dark-gray;
    }

    .loading {
        @include flexCenterX2();
        position: absolute;
        width: 100%;
        height: 100%;
        color: $original-color-primary;
        background: rgba(255, 255, 255, 0.3);
    }
}

.textLinkBtn {
    color: $original-color-primary;
    text-align: center;

    &:global(.disabled) {
        color: $color-dark-gray;
    }

    &.small {
        font-size: 15px;
    }

    &.smallB {
        font-size: 15px;
        font-weight: bold;
    }

    &.medium {
        font-size: 18px;
        line-height: 22px;
        font-weight: bold;
    }
}

.infoCloseBtn {
    display: block;
    padding: 5px;
    width: 18px;
}

.mapCurrentBtn {
    @extend .simpleBtn;
    padding: 0;
    width: 42px;
}

.mapSearchBtn {
    @extend .simpleBtn;
    padding: 6px 12px;
    color: $original-color-primary;
    font-size: 12px;
    line-height: 1;
    font-weight: bold;
    white-space: nowrap;
    background: #fff;
    border: 1px solid $original-color-primary;
    border-radius: 12px;
    box-sizing: border-box;
}

.navListBtn {
    @extend .simpleBtn;
    position: relative;
    padding: 12px 15px;
    width: 100%;
    height: 100%;
    font-size: 21px;
    line-height: 32px;
    text-align: left;
    background: #fff;
    border: 1px solid $color-gray;
    border-radius: $border-radius;
    box-sizing: border-box;
}

.nextDialogBtn {
    @extend .simpleBtn;
    @include flexCenterX2();
    width: 100%;
    height: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    background: $original-bg-primary;
    border-radius: 25px;
    box-sizing: border-box;
}

.submitBtn {
    @extend .nextDialogBtn;
    position: relative;

    .loading {
        @include flexCenterX2();
        position: absolute;
        width: 100%;
        height: 100%;
        color: $original-color-primary;
        background: rgba(255, 255, 255, 0.3);
    }
}

.deleteGroupBtn {
    @include flexCenter();
    position: relative;
    padding: 17px 0 17px 36px;
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    background: #fff;
    border: 1px solid $color-gray;
    border-right: 0;
    border-radius: $border-radius 0 0 $border-radius;
    box-sizing: border-box;

    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 11px;
        width: 18px;
        height: 100%;
        background: url(/img/icon_delete_off.svg) 0 center no-repeat;
        background-size: 18px auto;
    }

    &:global(.active) {
        color: $color-alert;
        border: 1px solid $color-alert;
        border-right: 0;

        &::before {
            background: url(/img/icon_delete.svg) 0 center no-repeat;
            background-size: 18px auto;
        }
    }
    :global(.label) {
        width: calc(100% - 48px);
    }

    :global(.status) {
        width: 48px;
        color: $original-color-primary;
        font-size: 9px;
        font-weight: bold;
        text-align: center;
    }
}

.navListDetailBtn {
    @include flexCenterX2();
    height: 100%;
    color: #fff;
    font-size: 21px;
    text-align: center;
    background: $original-bg-primary;
}

.statusChangeBtn {
    display: block;
    padding: 6px 0;
    width: 60px;
    color: $original-color-primary;
    font-size: 9px;
    line-height: 1;
    font-weight: bold;
    text-align: center;
    background: #fff;
    border: 1px solid $color-gray;
    border-radius: math.div($border-radius, 2);
    box-sizing: border-box;

    &:global(.disabled) {
        color: #fff;
        background: $bg-dark-gray;
    }
}

.chatNavBtn {
    @include flexCenterX2();
    height: 44px;
    background: $original-bg-primary;
    border-radius: $border-radius;
    overflow: hidden;

    :global(.icon-photo) {
        width: 36px;
    }
    :global(.icon-send) {
        width: 19px;
    }
}

.chatThumbBtn {
    display: block;
    padding: 6px 0;
    width: 80px;
}

.textBtn {
    font-size: 15px;
    color: $original-color-primary;
}

.familyGroupBtn {
    @extend .simpleBtn;
    position: relative;
    padding: 12px 15px 12px 45px;
    width: 100%;
    height: 100%;
    font-size: 21px;
    line-height: 32px;
    text-align: left;
    background: #fff;
    border: 1px solid $color-gray;
    border-radius: $border-radius;
    box-sizing: border-box;

    &::before {
        position: absolute;
        content: '';
        top: 19px;
        left: 15px;
        width: 16px;
        height: 16px;
        background: #fff;
        border: 1px solid $color-gray;
        border-radius: 50%;
    }

    &:global(.active) {
        color: $original-color-primary;
        border: 1px solid $original-color-primary;

        &::before {
            background: $original-bg-primary url(/img/icon_check_wt.svg) center
                center no-repeat;
            background-size: 13px auto;
            border: 1px solid $original-color-primary;
        }
    }

    &.small {
        font-size: 18px;
        line-height: 24px;
        background: transparent;
        border: 0;

        &::before {
            top: 15px;
        }
    }

    &.fontSmall {
        font-size: 18px;
    }
}

.familyGroupBtnWith {
    @extend .familyGroupBtn;
    border-right: 0;
    border-radius: $border-radius 0 0 $border-radius;

    &:global(.active) {
        border-right: 0;
    }

    &:global(.disabled) {
        cursor: default;
        padding-left: 15px;

        &::before {
            content: none;
        }
    }
}

.releaseBtn {
    display: inline-block;
    padding: 5px 8px;
    color: $original-color-primary;
    font-size: 15px;
    line-height: 1;
    font-weight: bold;
    background: #fff;
    border: 1px solid $color-gray;
    border-radius: 3px;
}

.paginationBtn {
    @include flexCenterX2();
    width: 32px;
    height: 32px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    background: #fff;
    border: 1px solid $color-dark-gray;
    border-radius: 50%;
    transition: $transition;

    &.active {
        color: #fff;
        background: $original-bg-primary;
        border: 1px solid $original-color-primary;
    }
}
