@use 'foundation/settings' as *;

.error {
    display: block;
    margin-top: 8px;
    color: $color-accent;
    font-size: 15px;
}

.h1 {
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    color: $color-primary;
    text-align: center;
}

.h2 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    margin: 4px 0 0;
}

.h3 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    margin: 4px 0 0;
}
