@use 'foundation/settings' as *;
@use 'foundation/mixin' as *;

.main {
    position: relative;
    padding-top: 65px;
    padding-bottom: 100px;
    min-height: 100vh;
    box-sizing: border-box;

    &.white {
        background: #fff;
    }

    &.multiNav {
        padding-bottom: 165px;
    }
}

:global(.regist-nav) + .main {
    padding-top: 100px;
}

.home {
    position: relative;
    padding-bottom: 136px;
    min-height: calc(100vh - 65px);
    box-sizing: border-box;
}

:global(.header-status) + .home {
    padding-top: 100px;
}

.mainBody {
    padding: 14px;
}

.mainBody + .mainBody {
    border-top: 1px solid $color-gray;
}

.mainLead {
    padding: 8px 0;
    font-size: 13px;
    line-height: 21px;
    font-weight: bold;
    text-align: center;
    background: #fff;
    border-bottom: 1px solid #fff;

    :global(.alert) {
        color: $color-accent;
    }
}

.mainBtm {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 310px;
}

.mainBtn {
    margin: auto;
    max-width: 310px;
}

.divBtn {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    padding: 20px;
}

.mainFloat {
    @include flexCenterX2();
    position: fixed;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: $z-index-nav;
}
