@use 'foundation/settings' as *;
@use 'foundation/mixin' as *;

.regist {
    padding: 0 14px;
}

.section {
    margin-bottom: 15px;
    border: 1px solid $color-dark-gray;
    border-radius: $border-radius;

    &:last-child {
        margin-bottom: 0;
    }
}

.registHeader {
    padding: 11px;
    background: $bg-primary;
    border-radius: $border-radius $border-radius 0 0;

    :global(.headerTitle) {
        color: #fff;
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        font-weight: bold;
    }
}

.registBody {
    position: relative;
    padding: 16px 13px;
    background: #fff;
    border-radius: 0 0 $border-radius $border-radius;
}

.registInput {
    margin-bottom: 12px;

    &:last-child {
        margin-bottom: 0;
    }

    :global(.label) {
        margin-bottom: 6px;
        font-size: 15px;
        line-height: 22px;
    }

    :global(.require) {
        color: $color-accent;
    }

    :global(.form) + :global(.form) {
        margin-top: 10px;
    }
}

.registConfirm {
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid $color-gray;

    &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: 0;
    }

    :global(.label) {
        margin-bottom: 14px;
        font-size: 15px;
        line-height: 22px;
    }

    :global(.confirm) {
        padding-left: 12px;
        font-size: 18px;
        line-height: 24px;
    }
}

.registQuestion {
    position: absolute;
    bottom: 13px;
    right: 13px;
    width: 32px;
    height: 32px;
    z-index: 10;
}
